.container-fluid {
  background-color: #b91450;
}

#button-div {
  gap: 20px;
  background-color: white;
  border-radius: 1rem;
}

#button-div button {
  background-color: #cccccc;
  color: #b91450;
  font-weight: bold;
  border-radius: 5px;
}

form {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px black;
  gap: 60px;
}

form span {
  color: #b91450;
  font-weight: bold;
  margin-bottom: 10px;
}

form input,
select {
  border-radius: 10px;
  border: solid 2px #b91450;
}

#ticket-div {
  background-color: white;
  height: 200px;
}

#name-section {
  background-color: #808080;
  height: 80%;
  padding: 20px;
}

#train-info {
  gap: 25px;
  border-top: solid 1px #808080;
  border-bottom: solid 1px #808080;
}
